# Node
package-lock.json
yarn.lock
**/package-lock.json

# dependencies
node_modules
bower_components

# serverless
.serverless
serverless.yml

# misc
*.map

# project
.yarn-offline-cache
coverage
dist
